/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
a{text-decoration:none;}
table{border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
strong{font-weight:bold;}
ol,ul{list-style:none;margin:0;padding:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0;padding:0;color:#444;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
/* Reset CSS
 * --------------------------------------- */

body {
    background: #999999 url("../images/default_bg.jpg") repeat scroll 0 0;
    min-height: 100%;
    position: relative;
    width: 100%;
}
.top-header{
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    min-width: 500px;
    opacity: 0.95;
    overflow: hidden;
    width: 100%;
}
.nav {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 2%;
    width: 800px;
}
.nav a {
    float: left;
}
.head-text{
    color: #dddddd;
    font-family: "微软雅黑","黑体";
    font-size: 26px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
}
.nav-text{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    color: #999999;
    text-align: center;
    text-decoration: none;
    width: 110px;
    display: block;
}
.nav-text:hover{
    background: #fcfcfc none repeat scroll 0 0;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    box-shadow: 0 9px 8px #f8f8f8 inset;
    text-align: center;
    color: #20b3d8;
}
.activity{
    background: #fcfcfc none repeat scroll 0 0;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    box-shadow: 0 9px 8px #f8f8f8 inset;
    color: #20b3d8;
}
.past_table {
    margin: 50px auto 30px;
    position: relative;
    width: 845px;
}
h3 {
    font-size: 1.4em;
    color: #000000;
}
.img_list::after {
    clear: both;
    content: "";
    display: block;
    visibility: hidden;
}
.img_list {
    margin: 0 auto;
    width: 900px;
}

.list_box {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 0 16px 30px;
    position: relative;
    width: 250px;
}

.box_list_img {
    float: left;
    height: 133px;
    overflow: hidden;
    width: 250px;
}
.list_author {
    float: left;
    font-size: 14px;
    padding: 3px 6px;
}
.list_author a {
    color: #333;
}
.author_name {
    float: left;
    font-size: 14px;
    padding: 0 6px 3px;
    width: 250px;
    height: 20px;
    overflow: hidden;
}
.voice_tag {
    background: #3f3f3f none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    left: 6px;
    line-height: 20px;
    margin-right: 10px;
    padding: 0 3px;
    position: absolute;
    top: 6px;
}
.footer_empty_box {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 70px;
    margin: 50px 0 0;
    width: 100%;
}
#footer {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    bottom: 0;
    color: #999;
    display: inline-block;
    height: 70px;
    left: 0;
    line-height: 70px;
    position: absolute;
    width: 100%;
}

#footer .footer_center {
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    width: 800px;
    text-align: center;
}
/**文章*/
#article_show::before {
    border: 1px dashed #cccccc;
    bottom: 5px;
    box-shadow: 0 0 0 1px #ffffff;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
}
#article_show::before {
    border: 1px dashed #cccccc;
    bottom: 5px;
    box-shadow: 0 0 0 1px #ffffff;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
}
#article_show::after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}
#article_show {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top , #ffffff, #ffffff);
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #ffffff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #ffffff, 0 7px 0 rgba(0, 0, 0, 0.2);
    margin: 40px auto 0;
    min-height: 300px;
    padding: 80px 50px 0;
    position: relative;
    width: 700px;
    z-index: 0;
}
#article_show h1 {
    color: #000000;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
#article_show p {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
}
.article_author {
    color: #999999 !important;
    margin: 40px 0 50px !important;
    text-align: center !important;
}

/*书架*/
#container::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#container {
    margin: 50px auto 30px;
    position: relative;
    width: 840px;
}
.content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 3px #ddd;
    color: #222;
    float: left;
    overflow: hidden;
    width: 100%;
}

.slide {
    border-bottom: 1px solid #eee;
    border-radius: 4px 4px 0 0;
    height: 190px;
    margin-bottom: 10px;
    width: 100%;
}
.list-bg {
    float: left;
    width: 850px;
}
.list-bg .book-list li {
    display: inline-block;
    float: left;
    height: 244px;
    list-style: outside none none;
    margin: 20px 8px 10px 20px;
    width: 134px;
}
.cover_play {
    background: #000 url("../images/cover_play.png") no-repeat scroll 50% 50%;
    display: none;
    height: 133px;
    left: 0;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 250px;
}
.list_box:hover a.cover_play{
    display: block;
}
.book-bg {
    background: rgba(0, 0, 0, 0) url("../images/book-bg.png") repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 184px;
    text-align: center;
    width: 134px;
}

.book-bg img {
    border-radius: 2px;
    position: relative;
    top: 14px;
}
img {
    border: medium none;
}
.book-name {
    font-size: 16px;
    margin: 0 0 0 17px;
    width: 117px;
}
.book-name a {
    color: #000;
}
.book-author {
    color: #b3b3b3;
    font-size: 14px;
    margin: 5px 0 0 17px;
    width: 117px;
}
.pagetion {
    background: #eee none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ddd;
    display: inline-block;
    float: left;
    padding: 15px 10px;
    width: 820px;
}
.page_num {
    float: right;
}
.page_num a {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    margin-left: 3px;
    padding: 3px 8px;
}
a {
    color: #259;
    text-decoration: none;
}