/*弹出层样式*/
.dialog-div {
    position:fixed;
    width:450px;
    height:230px;
    top:-250px;
    left:50%;
    margin-left:-225px;
    margin-top:-115px;
    z-index: 1050;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.dialog-header{
    height: 60px;
    line-height: 60px;
    color: #595959;
    font-size: 20px;
}
.dialog-center{
    height: 75px;
    line-height: 25px;
    color: #9e9e9e;
    font-size: 18px;
    padding:0px 40px;
    text-align:left;
    overflow: hidden;
}
.dialog-footer{
    margin-top: 10px;
    padding: 20px 0;
    border-top: 1px solid #f0f1f3;
}
.dialog-btn {
    background: #f4f5f7 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #9e9e9e;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-left: 23px;
    outline: 0 none;
    padding: 0;
    text-align: center;
    width: 140px;
}
.dialog-btn.submit{
    background:#ff635c;
    color: #ffffff;
}
.dialog-btn.close:hover{
    background:#ff746e;
}
.dialog-btn.close{
    margin-left:0;
    background:#ff635c;
    color: #ffffff;
}
.dialog-btn.submit:hover{
    background:#ff746e;
}
.dialog-btn.cancel:hover{
    background:#fafafa;
}
.dialog-fade-hide{
    display: none;
    position:fixed;
    background:#000;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    width:100%;
    height:100%;
    filter:alpha(opacity=50);
    opacity:.50;
    z-index: 1001;
}

