@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
a{text-decoration:none;}
table{border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
strong{font-weight:bold;}
ol,ul{list-style:none;margin:0;padding:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;margin:0;padding:0;color:#444;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
/* Reset CSS
 * --------------------------------------- */

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
}
h1{text-align: center}

#section0{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
#section1{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
   /* background: rgba(30, 30, 30, 0.6) none repeat scroll 0 0;*/
}
#section2{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
#section3{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
#section4{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
#section5{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
#section6{
    background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
.arrow-icon{
    position: fixed;
    bottom:10%;
    height: 20px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    z-index: 999;
}
.icon_down {
    background: rgba(0, 0, 0, 0) url("../images/web_down.png") no-repeat scroll 0 0;
    top: -20px;
    display: block;
    height: 34px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
    z-index: 999;
    cursor: pointer;
    -webkit-animation: jump 1s infinite;
    -moz-animation: jump 1s infinite;
    -o-animation: jump 1s infinite;
    -ms-animation: jump 1s infinite;
    animation: jump 1s infinite;
}
/* Animations */

@-webkit-keyframes jump {
    0% {top: -20px;
        -webkit-animation-timing-function: ease-in;
    }
    50% {top: 0px;
        -webkit-animation-timing-function: ease-out;
    }
    100% {top: -20px;
        -webkit-animation-timing-function: ease-in;
    }
}

@-moz-keyframes jump {
    0% {top: -20px;
        -moz-animation-timing-function: ease-in;
    }
    50% {top: 0px;
        -moz-animation-timing-function: ease-out;
    }
    100% {top: -20px;
        -moz-animation-timing-function: ease-in;
    }
}

@-o-keyframes jump {
    0% {top: -20px;
        -o-animation-timing-function: ease-in;
    }
    50% {top: 0;
        -o-animation-timing-function: ease-out;
    }
    100% {top: -20px;
        -o-animation-timing-function: ease-in;
    }
}

@-ms-keyframes jump {
    0% {top: -20px;
        -ms-animation-timing-function: ease-in;
    }
    50% {top: 0;
        -ms-animation-timing-function: ease-out;
    }
    100% {top: -20px;
        -ms-animation-timing-function: ease-in;
    }
}

@keyframes jump {
    0% {
        top: -20px;
        animation-timing-function: ease-in;
    }
    50% {
        top: 0;
        animation-timing-function: ease-out;
    }
    100% {
        top: -20px;
        animation-timing-function: ease-in;
    }
}

.clock-div{
    position: absolute;
    top:40px;
    right:60px;
    background: url("../images/timer_bg.png");
    width: 152px;
    height: 155px;
    cursor: move;
    z-index: 10;
}
.clock-time{
    width: 152px;
    margin-top: 44px;
    text-align: center;
    color: rgba(0,0,0,0.8);
}
.p0-content{
    position: relative;
    padding: 50px;
    text-align: center;
}
.resume-img{
    /*border: 8px solid #f7f3f3;*/
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: auto;
    transition: all 0.5s ease 0s;
}
.resume-img:hover{
    transform: rotate(360deg);
}
.p0-title{
    margin: 20px auto;
    font-size: 50px;
    text-shadow: 1px 2px #99C7EF, 2px 4px #54A3EE;
    color: #ffffff;
}
.p0-sub-title{
    margin: 20px auto;
    color: #aee2d9;
    font-size: 20px;
}
.p0-text{
    font-size:22px;
    color: #ffffff;
    margin: 20px auto;
    font-weight: bold;
}
.p0-email{
    color: #9f3;
    font-size: 22px;
    transition: all 0.5s ease 0s;
}
.p0-email:hover{
    color: #d0d00d;
}
.p1-title{
    margin: 20px auto;
    font-size: 50px;
    color: #ffffff;
}
.title_font {
    height: 81px;
    margin: 0 auto;
    text-indent: -999em;
}
/*图标*/
.web_resume_r .resume_container .icon:hover{transform: translateX(0px) rotate(0deg);transition: all 1s}
.web_resume_r .basicinfo_li .icon{background-position: 0px 0px;}
.web_resume_r .seft_li .icon{background-position: 0px -164px;}
.web_resume_r .edu_li .icon{background-position: 0px -33px;}
.web_resume_r .exper_li .icon{background-position: 0px -66px;}
.web_resume_r .skill_li .icon{background-position: 0px -99px;}
.web_resume_r .work_li .icon{background-position: 0px -132px;}
.web_resume_r .list_li .icon{background-position: 0px -197px;}
/*基本信息*/
.web_resume_r .basicinfo ul{overflow: hidden;padding-left: 43px;padding-top: 19px;text-align: left}
.web_resume_r .basicinfo ul li{float: left;margin-bottom:20px;height: 51px;}
.web_resume_r .basicinfo ul li a {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden; backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;}
.web_resume_r .basicinfo ul li a:before {content: "";position: absolute;z-index: -1;right:0;left:100%;bottom:0;background:#B2B2B2;height: 1px;-webkit-transition-property: left;transition-property: left;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.web_resume_r .basicinfo ul li a:hover:before, .web_resume_r .basicinfo ul li a:focus:before, .web_resume_r .basicinfo ul li a:active:before {left:0;}
.web_resume_r .basicinfo ul li a{border-bottom: 1px solid #cacaca;line-height: 51px;display:inline-block ;width: 200px;float: left;padding-left: 10px;height:51px;overflow:hidden;}
.web_resume_r .basicinfo ul li a:hover{color:#575757;}
.web_resume_r .basicinfo .birthday .basic_icon{background-position: 0px 0px;}
.web_resume_r .basicinfo .address .basic_icon{background-position: 0px -55px;}
.web_resume_r .basicinfo .mobile .basic_icon{background-position: 0px -110px;}
.web_resume_r .basicinfo .email .basic_icon{background-position: 0px -165px;}
.web_resume_r .basicinfo .school .basic_icon{background-position: 0px -220px;}
.web_resume_r .basicinfo .hobby .basic_icon{background-position: 0px -275px;}

/*基本信息*/
.page2 .basicinfo{width:50%;height: 100%;margin: 0 auto;padding-top:6%;color: #fff;position: relative;}
.page2 .basicinfo .title_font{background: url(../images/basic_font.png) no-repeat; margin: 0 auto;width: 297px;height: 81px;padding-bottom:3%;position: relative; }
.page2 .basicinfo ul{width:460px;margin: 50px auto;position: relative;height:60%;}
.page2 .basicinfo ul li{height:51px;line-height: 51px;margin-bottom:30px;}
.page2 .basicinfo ul li a{line-height:51px;height:51px;display:block;float: left;padding-left:5px;width:358px;border-bottom: 1px solid rgba(255,255,255,0.4);font-size: 20px;color: #ffffff;font-family: "微软雅黑";font-weight: normal;}
.page2 .basicinfo ul li .basic_icon{width: 51px;height: 51px;margin-right: 20px;position:relative;display:block;float: left;background: url(../images/basicinfo_sp_1.png) no-repeat;}
.page2 .basicinfo ul li:hover .basic_icon{margin-left:-20px;transform:rotate(-60deg);transition:all 0.4s linear;}
.page2 .basicinfo .birthday .basic_icon{background-position: 0px 0px;}
.page2 .basicinfo .address .basic_icon{background-position: 0px -60px;}
.page2 .basicinfo .mobile .basic_icon{background-position: 0px -120px;}
.page2 .basicinfo .email .basic_icon{background-position: 0px -179px;}
.page2 .basicinfo .school .basic_icon{background-position: 0px -239px;}
.page2 .basicinfo .hobby .basic_icon{background-position: 0px -299px;}
/*教育背景*/
.page4 .edu{width:60%;height: 100%;margin: 0 auto;position: relative}
.page4 .edu .title_font{background: url(../images/edu_title.png) no-repeat;width:324px;padding-bottom:3%;}
.page4 .edu .resume_icon{background: url(../images/edu_icon.png) no-repeat;width: 275px;height:164px;margin-bottom:8%;}
.page4 .edu p{color:#D1DEFA;text-align: center;}
.page4 .edu dl{margin-bottom: 20px;}
.page4 .edu dl dt{display: block;text-align: left;line-height:40px;}
.page4 .edu dl dt p{font-size: 20px;display: inline;font-weight: bold;}
.page4 .edu dl dt .edu_time{margin-right: 20px;}
.page4 .edu dl dd .edu_content{line-height: 22px;font-size: 20px;padding: 0 72px;}
.resume_icon {
    display: block;
    margin: 0 auto;
}
/*工作经验*/
.page5 .exper{width:80%;height: 600px;margin: 0 auto;}
.page5 .exper .title_font{background: url(../images/exper_title.png) no-repeat;width:234px;margin-bottom: 20px;}
.page5 .exper .resume_icon{background: url(../images/exper_icon.png) no-repeat;width:223px;height:207px;margin-bottom: 4%;}
.page5 .exper_content{position: absolute;bottom: 20%;;left: 50%;margin-left:-440px;}
.page5 .exper_content ul{margin: 0 auto;display: inline-block;}
.page5 .exper_content ul li{width: 272px;float: left;border-left: 1px solid #fff;position: relative;text-align: left;padding: 10px 50px 0 10px;color:#fff;font-size: 14px;}
.page5 .exper_content ul li .exper_icon{position: absolute;background: url(../images/exper_icon2.png);width: 34px;height:70px;top:-68px;left:-17px;}
.page5 .exper_content .exper_name,.page5 .exper .exper_content .exper_cpname{margin-right: 10px;font-size: 20px;color: #fff;height: 30px;line-height: 30px;}
.page5 .exper_content .exper_dsc{margin-top: 10px;}
.page5 .exper_content .exper_time{color:#fff;font-size: 20px;height: 30px;line-height: 30px;}
.exper_dsc a{color: #fff}


