/*标签样式*/
ul li{list-style-type: none;margin:0;padding:0}
.label-text{
    background: #fafafa;
    border:none;
    height:25px;
    line-height:25px;
    width:80px;
    color:#595959;
}
.label-ul li{
    position:relative;
    border-radius: 3px;
    background: #fafafa;
    border: 1px solid #dadada;
    color: #9e9e9e;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    margin-right: 7px;
    padding: 5px 8px;
}
.label-ul li .label-del{
    display:none;
    color: #26709a;
    height: 16px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -4px;
    width: 16px;
    cursor:pointer;
}
.label-ul li:hover .label-del{
    display:block;
}
.label-ul li.label-add{
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    color: #cccccc;
    cursor: pointer;
    font-size: 29px;
    text-align: center;
    padding: 0 9px;
}
.label-ul li.label-add:hover{
    background: #e2e2e2;
}
.recommend-ul li{
    position:relative;
    border-radius: 3px;
    background: #fafafa;
    border: 1px solid #dadada;
    color: #9e9e9e;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    margin-right: 7px;
    padding: 8px 8px;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.recommend-ul li.selected{
    background:#e2e2e2;
}